<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie-Client-UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>

<body>

<div th:insert="fragments/header :: header"></div>
<main>
    <div class="ui container">
        <table id="movieUpdates" class="ui striped unstackable teal table" style="margin-top:10px">
            <thead>
            <tr>
                <th class="one wide">Action</th>
                <th class="three wide">Datetime</th>
                <th class="two wide">IMDB</th>
                <th class="ten wide">Payload</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</main>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="/app.js"></script>

</body>
</html>