version: "3.8"

services:

  mongodb:
    image: mongo:5.0.6
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    healthcheck:
      test: "echo 'db.stats().ok' | mongo localhost:27017/moviedb --quiet"
